h1{
    text-align: center;
}
body{
    background-color: blueviolet;
    /*background-image: url('a00.png');*/
    background-repeat: repeat-x;
}
p{
    background-color: pink;
    color: red;
    display: inline;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-width: bold;
    border-color: snow pink red green;
    border-radius: 40px;
}
a{
    color: seagreen;
}
a:hover{
    color: sienna;
}
